@import url("https://fonts.googleapis.com/css?family=Mulish:wght@400;500;600;700;900&display=swap");
body {
  background-color: rgb(179, 179, 179);
  box-sizing: border-box;
  font-family: Mulish;
}
#search {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: rgba(166, 186, 231, 0.749);
}
#search_input {
  padding: 10px;
  margin: 30px;
  width: 260px;
  font-size: 18px;
  font-family: Mulish, sans-serif;
  background: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid rgb(74, 72, 71);
  outline: none;
  transition: width 0.3s ease-in;
}
#submit {
  width: 100px;
  height: 50px;
  border-radius: 16px;
  background-color: rgba(250, 235, 215, 0.421);
  font-family: Mulish, sans-serif;
  font-size: 11px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: none;
  color: rgb(19, 18, 18);
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

.countrycard {
  font-family: Mulish;
  border-radius: 15px;
  background-color: rgba(250, 235, 215, 0.577);
  font-size: 10px;
  height: 230px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.output {
  font-family: Mulish;
  border-radius: 15px;
  background-color: rgba(250, 235, 215, 0.577);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 20px;
  padding: 20px;
}
h3,
h4 {
  padding-left: 10px;
  padding-right: 10px;
}
